*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 0;
  margin: 40px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #A34336;
}

main{
  background-color: #fff;
  border-radius: 20px;
}

#headline {
  max-width: 800px;
  text-align: center;
  justify-content: center;
  line-height: 1.4;
  padding: 0px 5px;
}

.texto {
  margin-top: 30px;
  color: #343A40;
  font-size: 24px;
  text-transform: uppercase;
}

.texto span{
  color: #A34336;
}

#headline p {
  padding: 0px 20px;
  color: #343A40;
  font-size: 22px;
}

#container {
  margin: auto;
  max-width: 600px;
  padding: 0px 20px;
  padding-bottom: 30px;
}

.quiz {
   justify-content: center;
  align-items: center;
  border: 1px solid #5D1515;
  background-color: #F8F8F8;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 10px 2px #ffffff;
}

.question{
  padding: 0px 10px;
}

.question h1 {
  font-size: 24px;
  color: #A34336;
}

.question p {
  text-align: center;
  padding: 0 0px;
  font-size: 22px;
  color: #343A40;
}

.hide {
  display: none;
}

.answer {
  padding-bottom: 20px;
  justify-content: center;  
}

.btn {
  border-radius: 10px;
  padding: 5px 5px;
  width: 320px;
  margin: 5px 5px;
  font-size: 22px;
  background-color: #A34336;
  background: -moz-linear-gradient(top, #A34336 0%, #F86653 100%);
  background: -webkit-linear-gradient(top, #A34336 0%, #F86653 100%);
  background: linear-gradient(to bottom, #A34336 0%, #F86653 100%);
  text-decoration: none;
  color: white;
}

.btn:hover{
  background: #A34336;
  background: -moz-linear-gradient(bottom, #A34336 0%, #F86653 100%);
  background: -webkit-linear-gradient(bottom, #A34336 0%, #F86653 100%);
  background: linear-gradient(to top, #A34336 0%, #F86653 100%);
  border-radius: 10px;
}

#rodape {
  max-width: 800px;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #F8F8F8;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 14px;
  line-height: 1.6;
}

#rodape a {
  text-decoration: none;
  color: #343A40;
  font-size: 14px;
  padding: 0 5px;
}

#rodape a:hover {
  color:#F8F8F8;
}